*{
  border:1px solid red;
}
#footer{
  height: 50px;
  margin-left:400px;
  margin-right: 300px;
}

#page{
  margin:10px auto;
  width:20px;
  text-align: center;
  display: inline-block;
}

.changePage{
  width:20px;
  text-align: center;
  display: inline-block;
}

#square{
  margin:1px auto;
  width:70px;
}
