/* * {
  border: 1px solid red;
} */
#footer {
  height: 50px;
}

#page {
  margin: 10px auto;
  width: 20px;
  text-align: center;
  display: inline-block;
}

.changePage {
  width: 20px;
  text-align: center;
  display: inline-block;
}

.block {
  width: 20px;
  text-align: center;
  display: inline-block;
  visibility: hidden;
}

#square {
  margin: 1px auto;
  width: 70px;
}
