<div class="article">
  <h1 class="articleTitle">
      {{data['title']}}
  </h1>
  <div class="spaceLine"></div>
  <div class="articleContent">
      <div class="articleDate">
        2020/06/13
      </div>
      <p class="articleText">
        {{data['content']}}      </p>
      <p class="keepReading">(繼續閱讀)</p>
    <p class="articleTag">
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
    </p>
  </div>
  <hr>
</div>
