<div class="article">
  <h1 class="articleTitle">
      今天天氣真好今天天今天天氣真好今天天今天天氣真好今天天
  </h1>
  <div class="spaceLine"></div>
  <div class="articleContent">
      <div class="articleDate">
        2020/06/13
      </div>
      <p class="articleText">
        文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容文字內容
      </p>
      <p class="keepReading">(繼續閱讀)</p>
    <p class="articleTag">
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
    </p>
  </div>
  <hr>
</div>
