<div class="article">
  <h1 class="articleTitle">
      <a [routerLink]="['/articlePage',data['id']]" (click)="pageToTop()">{{data['title']}}</a>
  </h1>
  <div class="spaceLine"></div>
  <div class="articleContent">
      <div class="articleDate">
        {{data['date']}}
      </div>
      <p class="articleText">
        <a [routerLink]="['/articlePage',data['id']]" (click)="pageToTop()">{{data['content']}}</a>
              </p>
      <p class="keepReading"> <a [routerLink]="['/articlePage',data['id']]" (click)="pageToTop()">(繼續閱讀)</a> </p>
    <p class="articleTag">
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
      <app-article-tag></app-article-tag>
    </p>
  </div>
  <hr>
</div>
