/* * {
  border: 1px solid red;
} */

.articlePage {
  margin-left: 400px;
  margin-right: 300px;
  min-width: 500px;
  padding-top: 150px;
  background-color: rgba(173, 188, 202, 0.247);
}

.border{
  width:90%;
  margin: auto;
  border-top: 1px dotted rgba(114, 12, 12, 0.582);
}

#articlePageTitle {
  
  font-size: 26px;
  font-weight: bold;
  min-height: 1em;
  padding: 20px 40px;
}

#articlePageContent {
  border-bottom: gray 2px dashed;
  min-height: 650px;
  padding-left: 40px;
  padding-top: 20px;
}

#articlePageComment {
  min-height: 200px;
  padding:0px  40px;
  padding-top: 20px;
}

#commentArea{
  border: 1px solid rgba(0, 0, 0, 0.863);
}

#leavaMessage {
  min-height: 200px;
  padding: 20px 40px 40px 40px;
  font-size: 25px;
  background-color: rgba(92, 31, 3, 0.479);
  margin:5px 40px 0px 40px;
}

.message {
  width: 400px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid #333;
}

#messageForm {
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#messageForm span {
  display: inline-block;
}

#messageForm .formTitle {
  width: 80px;
}

.errorMessage {
  width: 200px;
  margin-left: 10px;
  color:#e33;
}

button {
  width: 60px;
  font-size: 18px;
  margin-top: 10px;
}

.messageContent{
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}

.messageContent .errorMessage{
  align-self: center;
}

