*{
    border:1px solid red;
    
}

.articlePage{
    margin-left:400px;
    margin-right: 300px;
    min-width: 500px;
    height: 900px;
    padding-top: 50px;
    margin-top: 100px;
}

#articlePageTitle{
    min-height:50px;
    padding-left: 40px;
}

#articlePageContent{
    border-bottom: gray 2px dashed;
    min-height: 650px;
    padding-left: 40px;
    padding-top: 20px;
}

#articlePageComment{
    min-height: 200px;
    padding-left: 40px;
    padding-top: 20px;

}