<div class="articlePage">

        <div id="articlePageTitle">{{data['title']}}</div>
        <div id="articlePageContent">{{data['content']}}</div>
        <div id="articlePageComment">
            評論區
        </div>
        <div id="leavaMessage">
            留言區
            <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" id="messageForm" >
                <br>
                名稱:<input type="text" class="message messageName"  formControlName="name">
                E-mail<input type="text" class="message"  formControlName="email">
                內容:<textarea class="message" cols="30" rows="10" formControlName="message"></textarea>
                <button type="submit">送出</button>
            </form>
        </div>

</div>