*{
    border:1px solid red;
}

#sidebar{
    position: fixed;
    width: 350px;
    height: 100%;
    min-width: 150px;
}

#sidebarbackground{
    position: fixed;
    z-index: 1;
    width:0px;
    height: 100%;
    border-top: solid 850px gray;
    border-right: solid 350px transparent;
}

#sidebarTitle{
    z-index: 5;
    position: relative;
    top:200px;
    height:300px;
}

h1 {
   text-align: center;
    color:rgb(209, 194, 164);
}

h3{
    padding-left: 130px;
    color:rgb(53, 47, 36);
    z-index: 10;
 }

#colorboard{
    margin-left: 30px;
    position: absolute;
    top:120px;
    /* width:350px;
    height:100px; */
    border-top: solid 110px rgba(30, 143, 30, 0.548);
    border-left: solid 350px transparent;
    /* background-color: rgba(30, 143, 30, 0.548); */
}
